/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

*{
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #5C8374;
}

.pointer{
    cursor: pointer;
}

.d-flex{
    display: flex;
    justify-content: center;
}

.mw-500{
    max-width: 500px;
}