<div class="add-page">
    <form [formGroup]="form" class="add-form shadow p-3 my-5">
        <h2 class="text-center">Edit product #{{product.id}}</h2>
        <div class="form-group">
            <label for="titleInput">Title</label>
            <input class="form-control" type="text" id="titleInput" formControlName="title" placeholder="Enter product title...">
        </div>
        <div class="form-group">
            <label for="descriptionInput">Description</label>
            <textarea class="form-control" rows="5" id="descriptionInput" formControlName="description" placeholder="Enter product description..."></textarea>
        </div>
        <div class="form-group">
            <label for="descriptionInput">Price</label>
            <input class="form-control" type="number" id="priceInput" formControlName="price" placeholder="Enter product price...">
        </div>

        <div>
            <button type="submit" (click)="editArticle()">Edit Product</button>
        </div>
    </form>
</div>

