.add-form{
    width: 30em;
    background-color: white;
}

.form-group{
    margin: 15px;
}

.button{
    display: flex;
    justify-content: end;
}


.text-center{
    font-weight: 700;
    width: 250px;
}

.title{
    margin: 20px;
    display: flex;
    justify-content: center;
}

.add-page{
    display: flex;
    justify-content: center;
}