<div class="main-search-input-wrap">
  <div class="main-search-input fl-wrap">
    <div class="main-search-input-item">
      <input type="text" value="" placeholder="Search Products..." [(ngModel)]="searchTerm" (keyup.enter)="onSearch()" />
    </div>
    <div class="main-button">
      <button class="main-search-button" (click)="onSearch()">Search</button>
    </div>
  </div>
</div>

<div class="txt">
  <span>All products</span>
</div>

<div class="container">
  <div *ngFor="let product of filteredProducts" class="myCard">
    <img class="pointer" routerLink="/product/{{product.id}}" 
    src="https://dummyimage.com/200x200/000/fff" style="width: 100%;">
    <p routerLink="/product/{{product.id}}" class="pTitle pointer">{{ product.title }}</p>
    <div class="buttons">
      <button class="btn btn-primary" (click)="addToCart(product)">{{ product.price | number: '1.2-2' }} €</button>
    </div>
  </div>
</div>


