.cart{
    margin: 10px;
    background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF);
    display: flex;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;

    .header{
        margin: 10px;
        width: 90%;
        height: 15%;
        display: flex;
        justify-content: center;

        .heading{
            font-size: 20px;
            font-family: 'Poppins';
            font-weight: 700;
            color: #2F3841;
        }
    }
}

.container{
    background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF);
    display: flex;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
    justify-content: space-between;
    align-items: center;
}

.about {
    display: flex;
    align-items: center;
}

.details {
    margin-right: 10px; 
    padding: 5px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
}

.price {
    margin-left: 110vh;
    text-align: center;

    .price_{
        font-size: 20px;
        font-weight: 600;
    }
}

.buttons{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

@media only screen and (max-width: 1000px) {
    .cart {
        margin: 5px;
    }

    .header {
        margin: 5px;
        width: 90%;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .heading {
        font-size: 18px;
    }

    .container {
        flex-direction: column;
    }

    .about {
        flex-direction: column;
        align-items: flex-start;
    }

    .details {
        margin-right: 0;
        padding: 5px;
        
    }

    .title{
        text-align: center;
    }
    .price {
        margin-left: 0;
        text-align: center;
    }

    .buttons {
        flex-direction: column;
        margin: 15px;
    }
}